/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {

  margin: 0;
}

img {
    display: flex;
    width: 100%;
}

@font-face {
    font-family: "PressStart2P";
    src: url(../PressStart2P.ttf) format("truetype");
}

* {
    background-color: #03045E;
    font-family: "PressStart2P";
}

/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/

h1 {
    color: #90E0EF;
    text-align: center;
    font-size: 50px;
    margin-top: 60px; 
}

p {
    color: #FFFFFF;
    font-size: 25px;
}

.divider {
    width: 100%;
    margin: 40px auto;
    height: 10px;
    background-color: #0077B6;
}

/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/

.wrapper {
    margin: 0 auto;
    display: flex;
}
.container {
    margin: 0 auto;
    width: 1100px;
    padding: 0px 15px;
} 

.header {
    display: flex;
}

.header .left {
    width: 700px;
}
.header .right {
    width: 300px;
    
}

/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/

.capt-gal {
    text-align: center;
    color: #90E0EF;
    font-size: 30px;
}

.gallary {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 50px;
    column-gap: 30px;
}

.gallary img {
    border-radius: 25px;
}

/*
.gallary img:hover .gallary {
    grid-template-columns: 0.75fr 1.5fr 0.75fr; 
}
*/

/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/

.header-facts {
    color: #90E0EF;
    font-size: 25px;
}

ul {
    font-size: 17px;
    display: inline-block;
    width: 800px;
    color: #fff;
    padding: 50px 200px;
}

section.facts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    display: flex;
    align-items: center;
    flex-direction: column;
}

li {
    font-size: 20px;
    margin: 20px 0px;
}

.container li {
    max-width: 900px;
}

/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/

h2 {
    padding: 20px;
}

section.your-opinion-important {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left.b {
    width: 700px;
    margin-right: 60px;
}
.right.b {
    width: 200px;
}

/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/

section.comments {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment-header {
    color: #90E0EF;
    font-size: 25px;
}

.comment p {
    background-color: #000;
    padding: 30px;
    border-radius: 40px;
    font-size: 18px;
}

.comment p.ender {
    padding-bottom: 10px;
    padding-top: 0px;
    align-self: flex-end;
}

.comment {
    line-height: 20px;
    width: 650px;
    display: flex;
    flex-direction: column;
    background-color: #000;
    border-radius: 50px;
    margin: 25px;
}

.ender.s {
    background: none;
}

/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/


.copyright .capt-gal a {
    transition-duration: 1s;
    color: red;
    text-decoration: none;
}

.copyright .capt-gal :hover {
    transition-duration: 0.7s;
    color: #FFFFFF;
    text-decoration: none;
}

/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/

section.footer {
    height: 40px;
}

.f {
    color:  #FFF;
}

/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/

@media (max-width: 768px) {
    h1 {
        font-size: 30px;
    }

    .container {
        max-width: 738px;
    } 

    .gallary {
        grid-template-columns: 1fr 1fr;
    }

    .container li {
        max-width: 700px;
    }
}

@media (max-width: 425px) {
    h1 {
        font-size: 20px;
    }

    .container {
        max-width: 400px;
    } 


}

/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/